body {
  background-color: black;
}

.parent{
    height: 200px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.parent-2{
    display: flex;
    gap: 50px;
    justify-content: center;
}
img{
    background-color: white;
    height: 250px;
    width:250px;
    
}

.child-2{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    border-radius: 20px;
    height: 300px;
    width: 350px;
    background-color: white;
    padding: 20px; 
}

h1{
    color: red;
}

h2{
    
    color: white;
    font-family:sans-serif;
}

.more{
    margin-top: 150px;
}

.para{
    font-size:40px;
}



